html {
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    text-align: center;
}

.mapHolder {
    text-align: center;
}

.state {
    fill: gray;
}

.redState {
    fill: red;
    background-color: red;
    border-color: red;
    outline: red;
}

.blueState {
    fill: blue;
    background-color: blue;
    border-color: blue;
    outline: blue;
}

.redButton {
    background-color: red;
}

#totals {
    width: 100%;
    text-align: center;
}

#totalrows td {
    width: 50%;
}

#redName {
    color: red;
}

#blueName {
    color: blue;
}

#splitStates {
    margin-top: 25px;
    margin-left: 22%;
}

button {
    width: 90px;
}

@media only screen and (max-width: 800px) {
    svg {
        width: 600px;
        height: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    svg {
        width: 400px;
        height: auto;
    }
    h1 {
        font-size: 1.5em;
    }
    button {
        width: 90%;
    }
  }

  @media only screen and (max-width: 400px) {
    svg {
        width: 300px;
        height: auto;
    }
    h1 {
        font-size: 1.5em;
    }
    button {
        width: 90%;
    }

    #redName {
        font-size: .8em;
    }
    
    #blueName {
        font-size: .8em;
    }
  }
